.env
.venv/
venv/
.testing_keys
public
logs/
__pycache__
.idea/
#PIP
src/
*.old
*.vscode
templates/configs/*.html

# Server keys (SENSITIVE!)
ze_server_key.txt
*_server_key.txt

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db
